body {
    background: rgb(207, 222, 245);
    text-align: center;
    color: rgb(10, 10, 10);
}

a {
    color: rgb(10, 10, 10);
    margin: 20px;
    font-size: 25px;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

img {
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
    line-height: 1.8;
    width: 80%;
    margin: auto;
}