body {
    /* margin: 0;
    padding: 0; */
    /* font-family: Arial, sans-serif; */
    background: linear-gradient(to right, rgb(128, 100, 242), rgb(85, 164, 254));
    text-align: center;
    color: rgb(10, 10, 10);
}

a {
    color: rgb(10, 10, 10);
    margin: 20px;
    font-size: 25px;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

img {
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
    line-height: 1.8;
    width: 80%;
    margin: auto;
}
