body {
    text-align: center;
    background: linear-gradient(to right, rgb(128, 100, 242), rgb(85, 164, 254));
    color: rgb(10, 10, 10);
}

a {
    color: rgb(14, 14, 14);
    margin: 20px;
    font-size: 25px;
    margin: 15px;
}

.container {
    width: 50%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;   
    border: 2px solid rgb(64, 100, 166);
}

h2 {
    color: #003366;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 98%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: linear-gradient(to right, rgb(128, 100, 242), rgb(85, 164, 254));
    color: rgb(248, 245, 245);
    padding: 12px;
    border-radius: 5px;
    border: 2px solid rgb(64, 100, 166);
    width: 100%;
    margin-top: 20px;
}
